body {
  color: red;
  background-color: black;
  font-family: 'Courier New', Courier, monospace
}

#lefthand-hud {
  top: 0px;
  left: 0px;
  position: fixed;
}

#righthand-hud {
  top: 0px;
  right: 0px;
  position: fixed;
}